@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@import "tailwindcss";
@plugin "daisyui";
@plugin "daisyui/theme" {
   name: "light";
   default: true;
   /* --color-primary: #15D164; */
   /* --color-primary: #00bf58; */
   --color-primary: #198754;
   --color-secondary: #254035;
   --color-accent: #fff3cf;
   --color-base-300: #4c4c4c;
}

body {
   font-family: "Plus Jakarta Sans", sans-serif;
}

.ebGaramond {
   font-family: "EB Garamond", serif;
}

/* Register and Login page */
.cus-input {
   @apply input w-full shadow-none border border-gray-200 bg-[#ECF3F0] focus-within:outline-0 focus:border focus:border-green-200 rounded-lg py-6 mt-1;
}

.cus-select {
   @apply w-full shadow-none border border-gray-200 bg-[#ECF3F0] focus-within:outline-0 focus:border focus:border-green-200 rounded-lg mt-1;
}

/* Navbar */
.btn-dev {
   @apply text-primary text-[14px] font-semibold bg-[#00bf5911] hover:bg-[#00bf5928] border border-dashed border-primary px-5 py-2 rounded-full cursor-pointer duration-500;
}

/* Showcase section */
@keyframes slowbounce {
   0%,
   100% {
      transform: translateY(0);
   }
   50% {
      transform: translateY(-20px);
   }
}

.animate-slowbounce {
   animation: slowbounce 2.5s ease-out infinite;
}
